// Here you can add other styles
.app {
  max-width: 1024px;
  margin: auto;
}

.container-fluid {
  margin-top: 50px;
}

.topic-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: white;
  padding: 0 20px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.topic-content-container {
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vote-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-btn {
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 6px;
  margin-bottom: 20px;
  background-color: #204179;
  color: white;
}

.custom-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.cui-thumb-up {
  cursor: pointer;
}

.cui-thumb-down {
  cursor: pointer;
}

.warning-text {
  color: red;
}

h1 {
  color: #204179;
  text-transform: uppercase;
}

.mr-10 {
  margin-right: 10px;
}

.mr-5 {
  margin-right: 5px !important;
}

.w-100 {
  width: 100%;
}
